
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="https://github.com/andrii0yerko">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>TorgOrg DB GUI</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('index') }}"><span data-feather="chevron-right"></span> TorgOrg <span data-feather="chevron-left"></span></a>
      <div class="navbar-nav px-3">
        <div class='container'>
          <div class='row'>
            {% if current_user.is_anonymous %}
            <div class="nav-item text-nowrap">
              <a class="nav-link" href="/login">Sign in</a>
            </div>
            {% else %}
            <div class="nav-item text-nowrap col-sm">
              <a class="nav-link" href="/admin">Admin panel</a>
            </div>
            <div class="nav-item text-nowrap">
              <a class="nav-link" href="/logout">Logout</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/table/worker">
                   <span data-feather="users"></span>
                   Workers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/table/retail_outlet">
                  <span data-feather="home"></span>
                  Outlets
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/table/supply_request">
                  <span data-feather="file"></span>
                  Requests
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/table/supply">
                  <span data-feather="truck"></span>
                  Supply
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/table/products_availability">
                  <span data-feather="package"></span>
                  Products Availability
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/table/products_description">
                  <span data-feather="shopping-bag"></span>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/table/purchase">
                  <span data-feather="shopping-cart"></span>
                  Purchases
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/table/customer">
                  <span data-feather="users"></span>
                  Customers
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Queries</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/query/get_buyers_activity">
                  <span data-feather="file-text"></span>
                  Buyers Activity
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/query/get_product_buyers_by_outlet">
                  <span data-feather="file-text"></span>
                  Product Buyers By Outlet
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/query/get_product_buyers">
                  <span data-feather="file-text"></span>
                  Product Buyers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/query/get_product_turnover">
                  <span data-feather="file-text"></span>
                  Product Turnover
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/query/get_product_sales">
                  <span data-feather="file-text"></span>
                  Product Sales
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Queries 2</span>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="/query/get_product_prices">
                    <span data-feather="file-text"></span>
                    Product Prices
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/query/get_products_in_outlet">
                    <span data-feather="file-text"></span>
                    Products In Outlet
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/query/get_supply_by_request">
                    <span data-feather="file-text"></span>
                    Supply By Request
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/query/get_product_suppliers">
                    <span data-feather="file-text"></span>
                    Product Suppliers
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/query/get_product_supply">
                    <span data-feather="file-text"></span>
                    Product Supply
                  </a>
                </li>
              </ul>

              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Queries 3 </span>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="/query/get_outlet_profitability">
                    <span data-feather="file-text"></span>
                    Outlet Profitability
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/query/get_sales_square_ratio">
                    <span data-feather="file-text"></span>
                    Sales Square Ratio
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/query/get_salaries">
                    <span data-feather="file-text"></span>
                    Salaries
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/query/get_worker_productivity">
                    <span data-feather="file-text"></span>
                    Worker Productivity
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/query/get_workers_productivity">
                    <span data-feather="file-text"></span>
                    Workers Productivity
                  </a>
                </li>
              </ul>
          </div>
        </nav>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
        feather.replace()
        </script>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="border-bottom">
            {% block head %}
              <h1 class="h2">{{ title }}</h1>
              <br>
              {% block form %}
              {% endblock %}
            {% endblock %}
            
            {% block flashed_msg %}
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
              {% endif %}
              {% endwith %}
            {% endblock %}
          </div>

          {% block content %}
          {% endblock %}
          
        </main>
      </div>
    </div>

  </body>
</html>
