{% extends "base.html" %}

{% block content %}
  <div class="table-responsive">
  <table class='table'>
    {% if columns|length > 0 %}
      <thead class='thead-light'>
      <tr>
        <th scope='col'>
          <button onclick="replaceUrl( '{{ columns[0] }}' )"
            type="button" class="btn btn-outline-secondary" style="color:black; border: none; outline: none;" 
            data-toggle="tooltip" data-placement="top" title="Sort by {{ columns[0].replace('_', ' ').title() }}"
          >
          {% if id_first %}
            id
          {% else %}
            {{ columns[0].replace('_', ' ').title() }}
          {% endif %}
          </button
        </th>

        {% for col in columns[1:] %}
          <th scope='col'>
            <button onclick="replaceUrl( '{{ col }}' )"
              type="button" class="btn btn-outline-secondary" style="color:black; border: none; outline: none;" 
              data-toggle="tooltip" data-placement="top" title="Sort by {{ col.replace('_', ' ').title() }}"
            >
            {{ col.replace('_', ' ').title() }}
            </button>
          </th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for row in table %}
          <tr>
          {% for element in row %}
              <td> 
                  {% if element %}
                    {{element}}                
                  {% endif %}
              </td>
          {% endfor %}
          </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  </div>


  <script>
      function replaceUrl(column) {
        let nextURL = window.location.href.split(/[\?&]order=[^&]*/).join('');
        if (nextURL.includes('?')) {
          nextURL += '&order=' + column;
        }
        else {
          nextURL += '?order=' + column;
        }
        window.location.href = nextURL;
        window.location.assign(nextURL);
        window.location.replace(nextURL);
    }
  </script>
{% endblock %}