<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
<body>
  <table cellpadding=8px align='center' style="padding: 15px; border-spacing: 0;">
    <tr>
    <td><a href="/select/customer">Customers</a></td>
    <td><a href="/select/worker">Workers</a></td>
    <td><a href="/select/purchase">Purchases</a></td>
    <td><a href="/select/retail_outlet">Outlets</a></td>
    <td><a href="/select/products_description">Products</a></td>
    <td><a href="/select/supply">Supplies</a></td>
    <td><a href="/select/supply_request">Requests</a></td>
    </tr>
  </table>

  <table cellpadding=8px align='center' style="padding: 15px; border-spacing: 0;">
    <tr>
    <td><a href="/query/get_buyers_activity"> Buyers Activity </a></td>
    <td><a href="/query/get_product_buyers_by_outlet"> Product Buyers By Outlet  </a></td>
    <td><a href="/query/get_product_buyers"> Product Buyers </a></td>
    <td><a href="/query/get_product_turnover"> Product Turnover </a></td>
    <td><a href="/query/get_product_sales"> Product Sales </a></td>
    </tr>
  </table>
  <table cellpadding=8px align='center' style="padding: 15px; border-spacing: 0;">
    <tr>
    <td><a href="/query/get_product_prices"> Product Prices </a></td>
    <td><a href="/query/get_products_in_outlet"> Products In Outlet </a></td>
    <td><a href="/query/get_supply_by_request"> Supply By Request </a></td>
    <td><a href="/query/get_product_suppliers"> Product Suppliers </a></td>
    <td><a href="/query/get_product_supply"> Product Supply </a></td>
    </tr>
  </table>
  <table cellpadding=8px align='center' style="padding: 15px; border-spacing: 0;">
    <tr>
    <td><a href="/query/get_outlet_profitability"> Outlet Profitability </a></td>
    <td><a href="/query/get_sales_square_ratio"> Sales Square Ratio </a></td>
    <td><a href="/query/get_salaries"> Salaries </a></td>
    <td><a href="/query/get_worker_productivity"> Worker Productivity </a></td>
    <td><a href="/query/get_workers_productivity"> Workers Productivity </a></td>
    </tr>
  </table>
  
  <h2 align="center"> {{ title }} </h2>

  {% block form %}{% endblock %}

  <table align='center' class='table' style='width: 60%'>
    {% if columns|length > 0 %}
      <thead class='thead-light'>
      <tr>
        <th scope='col'>
          <button onclick="replaceUrl( '{{ columns[0] }}' )"
            type="button" class="btn btn-outline-secondary" style="color:black; border: none; outline: none;" 
            data-toggle="tooltip" data-placement="top" title="Sort by {{ columns[0].replace('_', ' ').title() }}"
          >
          {% if id_first %}
            id
          {% else %}
            {{ columns[0].replace('_', ' ').title() }}
          {% endif %}
          </button
        </th>

        {% for col in columns[1:] %}
          <th scope='col'>
            <button onclick="replaceUrl( '{{ col }}' )"
              type="button" class="btn btn-outline-secondary" style="color:black; border: none; outline: none;" 
              data-toggle="tooltip" data-placement="top" title="Sort by {{ col.replace('_', ' ').title() }}"
            >
            {{ col.replace('_', ' ').title() }}
            </button>
          </th>
        {% endfor %}
      </tr>
      </thead>
      {% for row in table %}
          <tr>
          {% for element in row %}
              <td> 
                  {% if element %}
                    {{element}}                
                  {% endif %}
              </td>
          {% endfor %}
          </tr>
      {% endfor %}
    </table>
  {% endif %}



  <script>
      function replaceUrl(column) {
        let nextURL = window.location.href.split(/[\?&]order=[^&]*/).join('');
        console.log(nextURL);
        if (nextURL.includes('?')) {
          nextURL += '&order=' + column;
        }
        else {
          nextURL += '?order=' + column;
        }
        window.location.href = nextURL;
        window.location.assign(nextURL);
        window.location.replace(nextURL);
    }
  </script>
</body>
</html>